* {
	font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	background: #fff;
	color: #000;
}
input {
	font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
textarea,select,pre {
	font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
/*	line-height: 1.2em; */
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label,
input[type=radio],
input[type=checkbox] {
	cursor: pointer;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
textarea,
select {
	font-size: 16px;
	margin: 1px;
	padding: 1px;
	border: 1px #999 solid;
}
input[type=text].login,
input[type=password].login {
	width: 12em;
	ime-mode: disabled;
}
input[type=tel].num,
input[type=email].num,
input[type=text].num {
	text-align: right;
/*	padding-right: 2px;
	width: 50px; */
	ime-mode: disabled;
}
input[type=submit],
input[type=button] {
	-webkit-appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	display: inline-block;
	margin: 4px 0.5em;
}
.red {
	color: #f33;
}
.blue {
	color: #33f;
}
.brown {
	color: brown;
}
.r {
	text-align: right !important;
}
.c {
	text-align: center !important;
}
.l {
	text-align: left !important;
}
.t {
	vertical-align: top !important;
}
.b {
	font-weight: bold !important;
}
.u {
	text-decoration: underline !important;
}
.nowrap {
	white-space: nowrap;
}
.tt {
	display: inline-block;
	padding: 1px 4px;
	margin: 0 3px;
	background: lightgoldenrodyellow;
}
.tbl,
table.tbl th,
table.tbl td {
	border-collapse: collapse;
	border: 1px #666 solid;
	padding: 3px;
}
table.tbl th {
	text-align: left;
	background-color: #f0f0f0;
	font-weight:normal;
}
.cf,
.clearfix {
	zoom:1;
}
.cf:after,
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.num,
.number {
	ime-mode: disabled;
	text-align:right;
	padding-right: 2px;
}
.btn_radio,
.btn_checkbox {
	width: 20px;
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}
.required {
	font-weight: bold;
	color: red;
/*	vertical-align: super;  */
}
.fn {
	display: none;
	font-size: 11px;
	font-family: Courier New;
	color: brown;
}
.caption {
	margin-top: 3px;
	color: purple;
}
.caption_box {
	display: none;
}
.errmsg,
#errmsg {
	border: 4px red double;
	padding: 10px;
	padding-left: 20px;
	color: red;
	background-color: #ffd;
}
.auto_height {
	overflow : hidden;
	height : 1.2em;
}
/* charCount.js ここから */
form .counter {
/*	position: absolute;
	right: 0;
	top: 0;
	font-size:20px;
	font-weight:bold; */
	display: block;
	color: #999;
}
form .warning {
	color:#600;
}
form .exceeded {
	color:#e00;
}
/*
form div {
	position:relative;
	margin: 1em 0 0;
}
*/
/* charCount.js ここまで */
span.rotate {
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.btn_s {
	-webkit-appearance: none;
	font-size: 1rem;
	display: inline-block;
	margin: 3px;
	cursor: pointer;
	border: 2px #669 solid;
	border-radius: 0.6rem;
	padding: 1px 6px;
	background-color: #f6f6ff;
}
.btn_s:hover {
	border-color: #666;
	background-color: #ffd;
}
ul.caption {
	list-style-type: none;
	margin: 4px 0 4px 1em;
	padding: 0;
}
ul.caption li {
	margin: 1px;
	padding: 0;
}
ul.caption li:before {
	content: '※';
	margin-left: -1em;
}
/* controlgroupのボタン部分を隠す */
span.ui-checkboxradio-icon {
	display:none;
}
.navi {
	margin: 30px 0;
}
.serial_number {
	display: inline-block;
	width: 3em;
	text-align:right;
}
#to_page_title {
	display: none;
}
#header {
	margin: 0;
	padding: 0;
	background-color: #669;
}
#header #header_navi {
	float: left;
	color:#fff;
	margin: 3px 3px 3px 30px;
}
#header #header_navi a {
	text-decoration: none;
	color:#fff;
/*	border-bottom: 1px white solid; */
}

#header #header_navi a:hover {
	color:#f66;
}

#header #header_sysname {
	float: right;
	color: #fff;
	font-weight:bold;
	margin: 3px 30px 3px 3px;
}
#page_title {
	margin: 0;
	padding: 4px;
	background-color: #bbe;
	font-size: 1.5rem;
}

#contents {
	margin: 0px auto;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 0;
}
#contents #main {
	font-size: 16px;
	text-align:left;
	margin: 20px 0;
}

#footer {
	background: #ddd;
	font-size: 12px;
	color: #333;
	border-top: 0px dotted #999;
	border-bottom: 0px dotted #999;
	margin: 0px;
	padding-left: 30px;
}

/* PCモード */
/* @media screen and (min-width: 1024px) { */
@media screen and (min-width: 2px) {

	.sp,
	.sp_block,
	.sp_iblock,
	.sp_tbl,
	.sp_item {
		display: none !important;
	}
	.pc {
		display: inline !important;
	}
	.pc_block {
		display: block !important;
	}
	.pc_iblock {
		display: inline-block !important;
	}
	.pc_tbl {
		display: "" !important;
	}
	.pc_table_cell {
		display: table-cell !important;
	}
	.c_pc,
	.pc_c {
		text-align: center;
	}
	.btn {
		-webkit-appearance: none;
		display: inline-block;
		margin: 5px;
		cursor: pointer;
		border: 3px #999 solid;
		border-radius: 0.85rem;
		padding: 4px 20px;
		background-color: #f0f0f0;
		font-size: 17px;
		min-width: 120px;
	}
	.btn:hover {
		border: 3px #666 solid;
		background-color: #ffd;
	}
	input[type=file] + span .btn_upload,
	input[type=file] + span .btn_delete {
		-webkit-appearance: none;
		display: inline-block;
		margin: 2px;
		cursor: pointer;
		border: 1px #999 solid;
		border-radius: 0.5rem;
		padding: 2px 10px;
		background-color: #f0f0f0;
	}
	input[type=file] + span .btn_upload:hover,
	input[type=file] + span .btn_delete:hover {
		border: 1px #666 solid;
		background-color: #ffd;
	}
	#header {
		margin: 0;
	}
	#page_title {
		padding-left: 30px;
	}
	#contents {
		width: 1000px;
	}
	#contents #main {
		width: 1000px;
		margin: 20px 0 0;
		min-height: 10rem;
	}
	#admin_menu {
		margin: 30px 0;
	}
	#admin_menu div {
		cursor: pointer;
		display: inline-block;
		float: left;
		width: 400px;
		height: 70px;
		margin: 20px;
		padding: 16px;
		border-radius: 24px;
		border: 3px #669 solid;
		color: #669;
		font-size: 1.2rem;
		text-decoration: none;
		font-weight: bold;
		background: #f6f6ff;
	}
	#admin_menu div span {
		display: block;
		font-size: 0.9rem;
		font-weight: normal;
	}
	#admin_menu div:hover {
/*		border-color: #99c;
		background: #fafaff; */
		opacity: 0.6;
	}
/*
	#admin_menu div#admin_menu-002 {
		background-image: url(../img/logout.png) no-repeat;
	}
	#admin_menu div#admin_menu-021 {
		background-image: url(../img/key.png) no-repeat;
	}
	#admin_menu div#admin_menu-031 {
		background-image: url(../img/wrench.png) no-repeat;
	}
	#admin_menu div#admin_menu-100 {
		background-image: url(../img/gear.png) no-repeat;
	}
*/
	.admin_menu_icon {
		display: inline-block;
		float: left;
		margin: 10px 10px 10px 0;
	}
}

/* スマホモード */
/* @media screen and (max-width: 1023px) { */
@media screen and (max-width: 1px) {

	input[type=text],
	input[type=password],
	select,
	textarea {
		font-size: 1.15rem;
	}
	.sp {
		display: inline !important;
	}
	.sp_iblock {
		display: inline-block !important;
	}
	.sp_block {
		display: block !important;
	}
	.sp_tbl {
		display: "" !important;
	}
	.sp_item {
		display: inline-block !important;
		border-radius: 4px;
		margin-right: 2px;
		padding: 2px 4px;
		font-size: 0.85rem;
		line-height: 1.3rem;
		background-color: palegoldenrod;
		text-align: center;
/*		border: 1px #999 solid; */
	}
	.pc,
	.pc_block,
	.pc_iblock,
	.pc_tbl,
	.pc_table_cell {
		display: none;
	}
	img {
		max-width: 98%;
	}
	.form {
		max-width: 99vw;
	}

	table.tbl_sp {
		width: 98%;
		border: 0 !important;
	}
	table.tbl_sp thead {
		display: none;
	}
	table.tbl_sp th,
	table.tbl_sp td {
		display: block;
		border: 0 !important;
		padding-top: 0;
		padding-bottom: 2px;
	}
	.btn {
		-webkit-appearance: none;
		font-size: 1rem;
		display: inline-block;
		margin: 3px;
		cursor: pointer;
		border: 3px #999 solid;
		border-radius: 0.85rem;
		padding: 4px 10px;
		background-color: #f0f0f0;
	}
	.btn:hover {
		border-color: #666;
		background-color: #ffd;
	}
	select {
		max-width: calc(100% - 5px);
	}
	#header {
		margin: 0;
	}
	#page_title {
		padding-left: 4px;
	}
	#contents {
		margin: 2px;
	}
	#contents #main {
		margin: 20px 0 0;
		min-height: 6rem;
	}
	#admin_menu div {
		display: block;
		width: calc(100vw - 60px);
		margin: 8px auto;
		padding: 16px;
		border-radius: 24px;
		border: 3px #669 solid;
		color: #669;
		font-size: 1.2rem;
		text-decoration: none;
		font-weight: bold;
		background: #f6f6ff;
	}
	#admin_menu div span {
		display: block;
		font-size: 0.9rem;
		font-weight: normal;
	}
	#admin_menu div:hover {
		border-color: #99c;
		background: #fafaff;
	}
}
